root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{kt,kts}]
max_line_length = 120
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
# Disabling KtLint rules for trailing comma as it does not have a way to allow usage of trailing commas
# without enforcing it everywhere.
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled

[.mvn/wrapper/maven-wrapper.properties]
insert_final_newline = false

[*.{yml,yaml}]
indent_size = 2
