root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{kt,kts}]
max_line_length = 120

[.mvn/wrapper/maven-wrapper.properties]
insert_final_newline = false

[*.{yml,yaml}]
indent_size = 2
